{% extends 'postsapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        {% include 'postsapp/menu.html' %}
        {% include 'postsapp/blogs_table_part.html' %}

    </div>
    <br />
    <br />
    <footer>
        <div class="container">
            <div class="row">
                <p class="copyright text-muted">Copyright &copy; NekidaemRu</p>
            </div>
        </div>
    </footer>
    <br>
    <div>
        <a href="{% url 'postsapp:add_post' %}"
           class="btn btn-success">
            Назад в блог
        </a>
    </div>

{% endblock %}