{% extends 'postsapp/base.html' %}
{% load static %}

{% block content %}

    <h4>Добро пожаловать {{ user }}</h4>
        <br>

    {% include 'postsapp/menu.html' %}

    <br>
    <form class="form-horizontal" method="post" action="{% url 'postsapp:add_post' %}">
        {% csrf_token %}
        {{ post_form.as_p }}
{#        {{ form.as_p }}#}
        <br>
{#        <input type="submit" value="Save" />#}
        <button type="button" class="btn btn-default">Отмена</button>
        <button type="submit" class="btn btn-primary">Опубликовать</button>
    </form>

{% endblock %}